<html>
<head>
  <title>Dogs Playing Poker — The Game</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Allura|Nova+Square' rel='stylesheet' type='text/css'>
  <link href="css/main.css" rel="stylesheet">

  <script src="/socket.io/socket.io.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/client/jquery.cookie.js"></script>
  <script src="js/client/dealer.js"></script>

</head>
<body>
  <div class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3></h3>
    </div>
    <div class="modal-body">
      <p></p>
    </div>
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn btn-primary">OK</a>
    </div>
  </div>
  <div class="container dealer">
    <div class="row">
      <div class="title span2">
        <h1>Dogs Playing Poker</h1>
      </div>
    </div>
    <div class='row'>
      <div class="span6 offset3 dealer-info">
        <div class="current-players">
          {{>dealerPlayerList}}
        </div>
      </div>
      <div class="players span2">
        <div class='controls'>
          <button class='btn deal-to-table' data-text="Deal to Table">Deal to Table</button>
          <button class='btn reset-game' data-text="Reset Game">Reset Game</button>
        </div>
      </div>
    </div>
    <div class='row'>
      <div id="community-cards" class='offset5 card-table'>
        {{#communityCards}}
          {{>hand}}
        {{/communityCards}}
      </div>
    </div>
  </div>
</body>
</html>

