<div class="hand">
  <button class='btn btn-small exchange'>Exchange selected cards</button>
  {{#cards}}
  <div class="card-holder">
    <button class='btn btn-small show'>Show</button>
    <span id="{{id}}" class="card {{suitClass}}">
      <span class="rank">{{rankName}}</span>
      <span class="suit">{{{suitSymbol}}}</span>
    </span><br/>
  </div>
  {{/cards}}
</div>