<div class="hand">
  {{#cards}}
  <div class="card-holder">
    <span id="{{id}}" class="card {{suitClass}}">
      <span class="rank">{{rankName}}</span>
      <span class="suit">{{{suitSymbol}}}</span>
    </span><br/>
  </div>
  {{/cards}}
</div>