<html>
<head>
  <title>Dogs Playing Poker — The Rules</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Allura|Nova+Square' rel='stylesheet' type='text/css'>
  <link href="css/main.css" rel="stylesheet">

  <script src="/socket.io/socket.io.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container rules">
    <div class='row'>
      <div class="title span2">
        <h1>Dogs Playing Poker</h1>
      </div>
    </div>
    <div class='row'>
      <div class="span6 offset3 rules-details">
        <h2> The Rules (or, it's Hold 'Em for folks who have no idea what they're doing)</h2>
        <div id="articlebody">
        <h3>The Dogs</h3>
        <ul>
          <li>Collies can count (remember Lassie?)</li>
          <li>Greyhounds can recognize Faces and Aces</li>
          <li>Pugs can see colors, and can also tell numbers and people apart.</li>
          <li>Corgis can make out shapes; i.e. they see suits</li>
        </ul>

        <b>The Shuffle, The Deal and The Blinds</b><p>
        The dealer shuffles a standard 52-card deck.<p>

        The two players to the left of the dealer put a predetermined number of chips into the pot before any cards are dealt, ensuring that there's something to play for on every hand. This is called "posting the blinds." Most often, the "first blind" -- the player to the left of the dealer -- puts up half the minimum bet, and the "second blind" puts up the full minimum bet.<p>

        Each player is dealt two cards, face down. These are known as the "hole cards". Being dogs, you won't really be able to read your hand.<p>

        <b>Betting Begins</b><p>

        A round of betting takes place, beginning with the player to the left of the two who posted the blinds. Players can call, raise, or fold when it's their turn to bet. They can also choose to show one or more cards from their hand to one or more players. These players can agree or disagree to this; if they agree, both players will see the cards as the other player does.<p>

        <b>The Flop</b><p>

        The dealer flips the next three cards face up on the table. These cards are called the "flop". All dogs can see the flop; the understanding among canines is that they're all in it together, so they form a shared understanding of the common cards.<p>

        <i>NOTE: Eventually, a total of five community cards will be placed face up on the table. Players can use any combination of the community cards and their own two hole cards to form the best possible five-card Poker hand.</i><p>

        After the flop, another round of betting takes place, beginning with the player to the left of the dealer (the button). During this and all future rounds of betting, players can check, call, raise, or fold when it's their turn to bet.<p>

        <b>Fourth Street</b><p>

        The dealer burns another card and plays one more face up onto the table. This, the fourth community card, is called the "turn" or "Fourth Street."<p>

        The player to the left of the dealer (the button) begins the third round of betting.<p>

        <b>Fifth Street</b><p>

        The dealer burns another card before placing the final face-up card on the table. This card is called the "river" or "Fifth Street."<p>

        <b>Final Betting and The Winner</b><p>

        Players can now use any combination of seven cards -- the five community cards and the two hole cards known only to them -- to form the best possible five-card Poker hand.<p>

        The fourth and final round of betting starts with the player to the left of the dealer (the button).<p>

        After the final betting round, all players who remain in the game reveal their hands. The player who made the initial bet or the player who made the last raise shows their hand first.<p>

        </div>
      </div>
    </div>
  </div>
</body>
</html>