.container {
  background: url('/img/dogs_player_poker_no_cards.jpg') no-repeat;
  height: 100%;
}

.container.dealer {
  background: url('/img/dealer_dogs_playing_poker.jpg') no-repeat;
}

.dealer-info {
  background: white;
  top: 200px;
}

h1, button {
  font-family: 'Nova Square', cursive;
}

.title {
  float: left;
  z-index: 5;
  padding : 8px 20px 9px 12px;
  background: white;
  opacity: 0.7;
  top: 0;
  position: fixed;
  min-height: 92px;
}

.title * {
  color: #000000;
  opacity: 1.0;
}

.title span, .title li, .title input {
  display: inline;
}

li.player.thatsYou .portrait {
  border: 3px solid yellow;
}

.players {
  float: right;
  margin-right: 20px;
  background: url('/img/poker-felt.jpg') repeat;
}

.hidden {
  display: none;
}

.players button {
  font-size: 14px;
  line-height: 1.1em;
  width: 150px;
  height: 50px;
  margin-bottom: 15px;
  margin-left: 10px;
}

li.player .caption {
  margin-top: 4px;
  width: 100px;
  padding: 6px 2px 4px 3px;
  border-top-left-radius: 20px 10px;
  border-top-right-radius: 20px 10px;
  border-bottom-left-radius: 20px 10px;
  border-bottom-right-radius: 20px 10px;
  font-family: 'Allura', cursive;
  background: url('/img/bronze-texture.jpg') repeat;
  color: #333;
  text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
  font-size: 22px;
  text-align: center;
}

li.player {
  display: block;
  margin: 10px;
}

li.player .portrait {
  display: block;
  width: 100px;
  height: 100px;
  background: yellow;
}

li.player.selected .portrait {
  display: block;
  width: 100px;
  height: 100px;
  border: 3px solid yellow;
}

li.player.Corgi .portrait {
  background: url('/img/Corgi.jpg') no-repeat;
  background-size: 100px 100px;
}
li.player.Pug .portrait {
  background: url('/img/Pug.jpg') no-repeat;
  background-size: 100px 100px;
}
li.player.Greyhound .portrait{
  background: url('/img/Greyhound.jpg') no-repeat;
  background-size: 100px 100px;
}
li.player.Human .portrait {
  background: url('/img/Human.jpg') no-repeat;
  background-size: 100px 100px;
}
li.player.Collie .portrait {
  background: url('/img/Collie.jpg') no-repeat;
  background-size: 100px 100px;
}

.leave-game {
  display: none;
}

#your-cards {
  text-align: center;
  position: relative;
  top: 495px;
  left: 175px;
}

@-webkit-keyframes flipUp {
  from { -webkit-transform: rotateX(57deg) scale(1, 1); }
  to { -webkit-transform: rotateX(0deg) scale(1.18, 1.18); }
}

.community-cards {
  padding: 25px;
  text-align: center;
  position: relative;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  top: 506px;
  left: 206px;
  -webkit-perspective: 250;
}

.community-cards .card {
  -webkit-transform: rotateX(57deg);
  -webkit-animation-duration: 0.15s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform: translateX(0deg);
  -webkit-animation-fill-mode: forwards;
  -webkit-box-shadow: .1em .1em .02em #333;
  -moz-box-shadow: .1em .1em .02em #333;
  box-shadow: .1em .1em .02em #333;
}

.community-cards .card-holder:hover .card {
  -webkit-animation-name: flipUp;
}

.card-table .card {
  background-color: #fff;
  display: inline-block;
  width: 3.3em;
  height: 4.6em;
  border: 1px solid #666;
  padding: .25em;
  margin: 0 .5em .5em 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
  font-family: Arial,sans-serif;
  position: relative;
  bottom: 0;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-transition: bottom .15s;
  -moz-transition: bottom .15s;
  -ms-transition: bottom .15s;
  -o-transition: bottom .15s;
  transition: bottom .15s;
  -webkit-box-shadow: .2em .2em .5em #333;
  -moz-box-shadow: .2em .2em .5em #333;
  box-shadow: .2em .2em .5em #333;
}

.card-table .card.selected {
  -webkit-transition: bottom .15s;
  -moz-transition: bottom .15s;
  -ms-transition: bottom .15s;
  -o-transition: bottom .15s;
  transition: bottom .15s;
  bottom: 1em;
}

.card-holder {
  display: inline-block;
  width: 5.3em;
}

.card-table .card.red { color: #f00 }
.card-table .card.diamonds { color: #000 }

.card-table .card.diamonds { color: #f00 }
.card-table .card.hearts { color: #f00 }
.card-table .card.spades { color: #000 }
.card-table .card.clubs { color: #000 }
.card-table .card .rank,
.card-table .card .suit {
    display: block;
    line-height: 1;
    text-align: left;
}
.card-table .card .suit { line-height: .7 }
.card-table .card .rank:after {
    position: absolute;
    top: .25em;
    left: .25em;
    background: #fff;
}
.card-table .card .suit:after {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 3em;
    right: .1em;
    bottom: .25em;
    word-spacing: normal;
    letter-spacing: normal;
    line-height: 1;
}
.card-table .card .suit:after {
    font-family: Arial,sans-serif;
    line-height: .9;
    bottom: .35em;
}
.card-table .card.diamonds .suit:after {
    content: "\2666";
    right: .4em;
}
.card-table .card.hearts .suit:after {
    content: "\2665";
    right: .35em;
}
.card-table .card.spades .suit:after {
    content: "\2660";
    right: .35em;
}
.card-table .card.clubs .suit:after {
    content: "\2663";
    right: .3em;
}

.card-table .card.blobs .suit:after,
.card-table .card.red .suit:after,
.card-table .card.black .suit:after {
    content: "❈";
    right: .3em;
}
