.container {
  background: url('/img/dogs_player_poker.jpg') no-repeat;
  height: 100%;
}

h1, button {
  font-family: 'Nova Square', cursive;
}

.title {
  padding : 8px 0 0 12px;
  background: white;
  opacity: 0.7;
  min-height: 92px;
}

.title * {
  color: #000000;
  opacity: 1.0;
}

.title span, .top-bar li, .top-bar input {
  display: inline;
}

li.player.thatsYou .portrait {
  border: 3px solid yellow;
}

.players {
  float: right;
  margin-right: 20px;
  background: url('/img/poker-felt.jpg') repeat;
}

.hidden {
  display: none;
}

.players button {
  font-size: 14px;
  line-height: 1.1em;
  width: 150px;
  height: 50px;
  margin-bottom: 15px;
  margin-left: 10px;
}

li.player .caption {
  margin-top: 4px;
  width: 100px;
  padding: 2px 0 3px;
  /*border-radius: 15px 5px;*/
  border-top-left-radius: 20px 10px;
  border-top-right-radius: 20px 10px;
  border-bottom-left-radius: 20px 10px;
  border-bottom-right-radius: 20px 10px;
  font-family: 'Allura', cursive;
  background: url('/img/bronze-texture.jpg') repeat;  color: #333;
  /*background-color: #666;*/
  text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
  font-size: 22px;
  text-align: center;
}

li.player {
  display: block;
  margin: 10px;
}

li.player .portrait {
  display: block;
  width: 100px;
  height: 100px;
  background: yellow;
}

li.player.selected .portrait {
  display: block;
  width: 100px;
  height: 100px;
  border: 3px solid yellow;
}

li.player.Corgi .portrait {
  background: url('/img/Corgi.jpg') no-repeat;
  background-size: 100px 100px;
}
li.player.Pug .portrait {
  background: url('/img/Pug.jpg') no-repeat;
  background-size: 100px 100px;
}
li.player.Greyhound .portrait{
  background: url('/img/Greyhound.jpg') no-repeat;
  background-size: 100px 100px;
}
li.player.Human .portrait {
  background: url('/img/Human.jpg') no-repeat;
  background-size: 100px 100px;
}
li.player.Collie .portrait {
  background: url('/img/Collie.jpg') no-repeat;
  background-size: 100px 100px;
}

.leave-game {
  display: none;
}

.game-area {
  height: 100%;
  width: 100%;
}

.card-table {
  text-align: center;
  position: fixed;
  top: 550px;
  left: 577px;
  /*position: relative;*/
  /*top: 288px;*/
}

.card-table .card {
    display: inline-block;
    width: 3.3em;
    height: 4.6em;
    border: 1px solid #666;
    border-radius: .3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
    font-family: Arial,sans-serif;
    position: relative;
    bottom: 0;
    -webkit-transition: bottom .15s;
    -moz-transition: bottom .15s;
    -ms-transition: bottom .15s;
    -o-transition: bottom .15s;
    transition: bottom .15s;
    background-color: #fff;
    -webkit-box-shadow: .2em .2em .5em #333;
    -moz-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
}
.card-table .card:hover {
  bottom: 1em;
  /*content: "EXCHANGE?";*/
  -webkit-transition: bottom .15s;
  -moz-transition: bottom .15s;
  -ms-transition: bottom .15s;
  -o-transition: bottom .15s;
  transition: bottom .15s;
}

.card-table .card.selected {
  bottom: 1em;
}

.card-holder {
  display: inline-block;
  width: 5.3em;
}

.card-table .card.red { color: #f00 }
.card-table .card.diamonds { color: #000 }

.card-table .card.diamonds { color: #f00 }
.card-table .card.hearts { color: #f00 }
.card-table .card.spades { color: #000 }
.card-table .card.clubs { color: #000 }
.card-table .card .rank,
.card-table .card .suit {
    display: block;
    line-height: 1;
    text-align: left;
}
.card-table .card .suit { line-height: .7 }
.card-table .card .rank:after {
    position: absolute;
    top: .25em;
    left: .25em;
    background: #fff;
}
.card-table .card .suit:after {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 3em;
    right: .1em;
    bottom: .25em;
    word-spacing: normal;
    letter-spacing: normal;
    line-height: 1;
}
.card-table .card .suit:after {
    font-family: Arial,sans-serif;
    line-height: .9;
    bottom: .35em;
}
.card-table .card.diamonds .suit:after {
    content: "\2666";
    right: .4em;
}
.card-table .card.hearts .suit:after {
    content: "\2665";
    right: .35em;
}
.card-table .card.spades .suit:after {
    content: "\2660";
    right: .35em;
}
.card-table .card.clubs .suit:after {
    content: "\2663";
    right: .3em;
}

.card-table .card.blobs .suit:after,
.card-table .card.red .suit:after,
.card-table .card.black .suit:after {
    content: "❈";
    right: .3em;
}
