.container {
  background: url('/img/dogs_player_poker.jpg') no-repeat;
  height: 100%;
}

h1 {
  text-align: center;
}

.top-bar {
  background: white;
  opacity: 0.7;
}

.top-bar * {
  color: #000000;
}

.top-bar span, .top-bar li, .top-bar input {
  display: inline;
}

.game-area {
  height: 100%;
  width: 100%;
}

.card-table {
  text-align: center;
  position: relative;
  top: 288px;
}

.card-table .card {
    display: inline-block;
    width: 3.3em;
    height: 4.6em;
    border: 1px solid #666;
    border-radius: .3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
    font-family: Arial,sans-serif;
    position: relative;
    bottom: 0;
    -webkit-transition: bottom .15s;
    -moz-transition: bottom .15s;
    -ms-transition: bottom .15s;
    -o-transition: bottom .15s;
    transition: bottom .15s;
    background-color: #fff;
    -webkit-box-shadow: .2em .2em .5em #333;
    -moz-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
}
.card-table .card:hover {
    bottom: 1em;
    -webkit-transition: bottom .15s;
    -moz-transition: bottom .15s;
    -ms-transition: bottom .15s;
    -o-transition: bottom .15s;
    transition: bottom .15s;
}

.card-table .card.red { color: #f00 }
.card-table .card.diamonds { color: #000 }

.card-table .card.diamonds { color: #f00 }
.card-table .card.hearts { color: #f00 }
.card-table .card.spades { color: #000 }
.card-table .card.clubs { color: #000 }
.card-table .card .rank,
.card-table .card .suit {
    display: block;
    line-height: 1;
    text-align: left;
}
.card-table .card .suit { line-height: .7 }
.card-table .card .rank:after {
    position: absolute;
    top: .25em;
    left: .25em;
    background: #fff;
}
.card-table .card .suit:after {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 3em;
    right: .1em;
    bottom: .25em;
    word-spacing: normal;
    letter-spacing: normal;
    line-height: 1;
}
.card-table .card .suit:after {
    font-family: Arial,sans-serif;
    line-height: .9;
    bottom: .35em;
}
.card-table .card.diamonds .suit:after {
    content: "\2666";
    right: .4em;
}
.card-table .card.hearts .suit:after {
    content: "\2665";
    right: .35em;
}
.card-table .card.spades .suit:after {
    content: "\2660";
    right: .35em;
}
.card-table .card.clubs .suit:after {
    content: "\2663";
    right: .3em;
}

.card-table .card.blobs .suit:after,
.card-table .card.red .suit:after,
.card-table .card.black .suit:after {
    content: "❈";
    right: .3em;
}
